body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.camera {
	width: 205px;
	height: 155px;
	background-color: #d6d6d6;
	border-radius: 15px; /*rounded corners*/
	/*horizontal distance, vertical distance, blur value, spread(distance to be blurred out), color*/
	box-shadow: 0 10px 15px -13px black; /*give depth*/
	position: relative;
	/*center .lens*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.lens {
	width: 125px;
	height: 125px;
	background-color: #f5f5f5;
	box-shadow: 0 8px 0 0 #c0c0c0; /*give depth*/
	/*center .inner-lens*/
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%; /*circle*/
}

.inner-lens {
	width: 105px;
	height: 105px;
	background-color: #00695c;
	/*center .inner-lens-2*/
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%; /*circle*/
}

/*create triangles of inner lens with borders*/
.inner-lens-2 {
	border-top: 31px solid #00897b;
	border-right: 31px solid #4db6ac;
	border-bottom: 31px solid #80cbc4;
	border-left: 31px solid #26a69a;
	border-radius: 50%; /*circle*/
}

.flash {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #f5f5f5;
	border-radius: 50%; /*circle*/
	box-shadow: 0 4px 0 0 #c0c0c0; /*give depth*/
	/*position to top right of camera*/
	right: 15px;
	top: 15px;
}

.button {
	position: absolute;
	width: 30px;
	height: 5px;
	background-color: #009587;
	border-radius: 60px; /*rounded corners*/
	/*position to top left setting on top of camera*/
	left: 16px;
	top: -5px;
}
